{% extends 'base.html' %}

{% block body %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ country.name }}</h1>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Spoken Language</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        {% for item in country.languages.all %}
                            <h4 class="card-title pricing-card-title">{{ item }}</h4>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Neighbouring Country</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        {% if neighbour_list %}
                            {% for item in neighbour_list%}
                                <h4 class="card-title pricing-card-title">{{ item }}</h4>
                            {% endfor %}
                        {% else %}
                            <p style="color: gray">{{ country.name }} has no neighbor(s)</p>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}